<configuration>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} %-5level %class{50}.%M:%L - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="consoleStatistics" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} %-5level %class{50}.%M:%L - %cyan(%msg%n)</pattern>
        </encoder>
    </appender>

    <logger name="org.postgresql" level="debug">
        <appender-ref ref="console"/>
    </logger>
    <logger name="org.springframework.jdbc" level="info">
        <appender-ref ref="console"/>
    </logger>
    <logger name="ru.javawebinar.topjava" level="debug">
        <appender-ref ref="console"/>
    </logger>

    <logger name="consoleStatistics" level="debug">
        <appender-ref ref="consoleStatistics"/>
    </logger>

</configuration>