<hibernate-configuration>
    <session-factory>
        <property name="hibernate.validator.autoregister_listeners">true</property>

        <property name="javax.persistence.validation.group.pre-persist">
            ru.javawebinar.topjava.util.UserChecks
        </property>
        <property name="javax.persistence.validation.group.pre-update">
            ru.javawebinar.topjava.util.UserChecks
        </property>
        <event type="pre-update">
            <listener class="org.hibernate.cfg.beanvalidation.BeanValidationEventListener"/>
        </event>
        <event type="pre-insert">
            <listener class="org.hibernate.cfg.beanvalidation.BeanValidationEventListener"/>
        </event>
    </session-factory>
</hibernate-configuration>